<div class="card">
  <h5 class="card-header"> Create Booking </h5>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label for="vehicle-select" class="col-sm-2 col-form-label">Vehicle</label>
        <div class="col-sm-8">
          <select id="vehicle-select" class="form-control" required name="vehicleId" [(ngModel)]="booking.vehicleId">
            <option *ngFor="let vehicle of vehicleList" [value]="vehicle.id">{{vehicle.licence}}</option>
        </select>  
        </div>
        <div class="col">
          <button (click)="addVehicle()" class="btn btn-add btn-success">Add</button>
        </div>
      </div>
      <div class="form-group row">
        <label for="type-select" class="col-sm-2 col-form-label">Booking Type</label>
        <div class="col-sm-10">
          <select id="type-select" class="form-control" required name="bookingTypeId" [(ngModel)]="booking.bookingTypeId">
            <option *ngFor="let type of bookingTypeList" [value]="type.id">{{type.name}}</option>
        </select> 
        </div>
      </div>
      <div class="form-group row">
        <label for="bookingDate" class="col-sm-2 col-form-label">Booking Date</label>
        <!-- https://bit.dev/valor-software/ngx-bootstrap/datepicker -->
        <!-- https://valor-software.com/ngx-bootstrap/#/datepicker#days-disabled -->
        <div class="col-sm-10">
          <input
              [(ngModel)]="booking.bookingDate"
              name="bookingDate"
              placeholder="Enter date"
              class="form-control"
              [minDate]="minDate"
              bsDatepicker
              [daysDisabled]="[0]"/>
        </div>
      </div>
      <div class="form-group row">
        <label for="comments" class="col-sm-2 col-form-label">Comments</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="comments" placeholder="Comments" required [(ngModel)]="booking.comments"
            name="comments" rows="4"></textarea>
        </div>
      </div>
      <div class="form-group" *ngIf="loginService.showSideBar">
        <div class="form-group row">
          <label for="status-select" class="col-sm-2 col-form-label">Status</label>
          <div class="col-sm-10">
            <select id="status-select" class="form-control" required name="bookingStatusId" [(ngModel)]="booking.statusId">
              <option *ngFor="let status of statusList" [value]="status.id">{{status.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="staff-select" class="col-sm-2 col-form-label">Responsible Mechanic</label>
          <div class="col-sm-10">
            <select id="staff-select" class="form-control" required name="staffId" [(ngModel)]="booking.staffId">
              <option *ngFor="let staff of staffList" [value]="staff.id">{{staff.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="service-select" class="col-sm-2 col-form-label">Required Services</label>
          <div class="col-sm-10">
            <select id="service-select" class="form-control" required name="serviceIds" [(ngModel)]="serviceIds" multiple>
              <option *ngFor="let service of serviceList" [value]="service.id">{{service.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="item-select">Available Items</label>
              <select id="item-select" class="form-control" required name="itemIds" [(ngModel)]="itemIds">
                <option *ngFor="let item of itemList" [value]="item.id">{{item.name}}</option>
              </select>
          </div>
          <div class="form-group col-md-6">
            <label for="quantity">Quantity</label>
            <div class="row">
              <div class="col-md-8">
                <input type="text" class="form-control" id="quantity" required [(ngModel)]="quantity" name="quantity">
              </div>
              <div class="col-md-4">
                <button type="button" (click)="addItem()" class="btn btn-add btn-success form-control">Add</button>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="selected-items" class="col-sm-2 col-form-label">Required Items</label>
          <div class="col-sm-10">
            <select id="selected-items" class="form-control" required name="bookingItems" multiple [(ngModel)]="itemIds">
              <option *ngFor="let bookingItem of bookingItems" [value]="bookingItem.name">{{bookingItem.quantity}} - {{bookingItem.itemName}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group ml-auto">
        <div class="text-right">
          <button type="submit" class=" btn btn-success">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>