<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row  title-row align-items-center justify-content-between">
            <div class="col ">
              <h4>Vehicle Make List</h4>
            </div>
            <div class="col ">
              <button (click)="add()" class="btn btn-add btn-success">Add</button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                <th>Name</th>
                <th class="action-th">Actions</th>
                </tr>
            </thead>
            <tbody> 
                 <tr *ngFor="let vehicleMake of vehicleMakes | async">  
                    <td>{{vehicleMake.name}}</td>  
                    <td class="text-right">
                        <button (click)="updateVehicleMake(vehicleMake.id)" class='btn btn-info'>Update</button>  
                        <button (click)="deleteVehicleMake(vehicleMake.id)" class='btn btn-danger' style="margin-left: 10px">Delete</button> 
                    </td> 
                  </tr>   
            </tbody><br>  
        </table>  
    </div>  
</div>    
