<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row  title-row align-items-center justify-content-between">
            <div class="col ">
              <h4>Vehicle List</h4>
            </div>
            <div class="col ">
              <button (click)="add()" class="btn btn-add btn-success">Add</button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                <th>Type</th>
                <th>Engine</th>
                <th>Model</th>
                <th>Licence</th>
                <th>Year</th>
                <th class="action-th">Actions</th>
                </tr>
            </thead>
            <tbody> 
                 <tr *ngFor="let vehicle of vehicles | async">  
                    <td>{{vehicle.typeName}}</td>
                    <td>{{vehicle.engineName}}</td>
                    <td>{{vehicle.modelName}}</td>
                    <td>{{vehicle.licence}}</td>
                    <td>{{vehicle.year}}</td>
                    <td class="text-right">
                        <button (click)="deleteVehicle(vehicle.id)" class='btn btn-danger'>Delete</button>   
                        <button (click)="updateVehicle(vehicle.id)" class='btn btn-info' style="margin-left: 10px">Update</button>  
                      </td> 
                  </tr>   
            </tbody><br>  
        </table>  
    </div>  
</div>  