<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row  title-row align-items-center justify-content-between">
          <div class="col">
            <h4>Booking List </h4>
          </div>
          <div class="col">
            <button (click)="add()" class="btn btn-add btn-success">Add</button>
          </div>
        </div>
    </div>
    <div class="form-group row">
      <div class="col col-lg-6">
        <input type="search" class="form-control" [(ngModel)]="search" name="search" placeholder="Filter"> 
      </div>  
      <div class="col-sm-4">
        <input
            [(ngModel)]="searchDate"
            name="bookingDate"
            placeholder="Enter date"
            class="form-control"
            bsDaterangepicker
            (bsValueChange)="onDateChange()"
            [daysDisabled]="[0]"
            autocomplete="off"/>
      </div>
      <div class="col">
        <button (click)="clear()" class="btn btn-add btn-success">Clear</button>
      </div>       
    </div>
    <div class="panel-body">
        
        <table class="table table-striped">
            <thead>
                <tr>
                <th>Customer</th>
                <th>Requested Service</th>
                <th>Reponsible Staff</th>
                <th>Status</th>
                <th>Booking Date</th>
                <th>Actions</th>
                </tr>
            </thead>
            <tbody> 
                 <tr *ngFor="let booking of bookings | async | filter:search">  
                    <td>{{booking.customerName}}</td>
                    <td>{{booking.serviceName}}</td>
                    <td>{{booking.staffName}}</td>
                    <td>{{booking.status}}</td>
                    <td>{{booking.bookingDate}}</td>
                    <td><button (click)="deleteBooking(booking.id)" class='btn btn-danger'>Delete</button> 
                        <button (click)="updateBooking(booking.id)" class='btn btn-info' style="margin-left: 10px">Update</button>  
                      </td> 
                  </tr>   
            </tbody><br>  
        </table>  
    </div>  
</div>  
